.user-container{
  width: 100%;
}

.user-wrapper{
  padding: 100px;
}

.user-wrapper h1{
  color: #ff8724;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.user-wrapper h1::before{
  content: '';
  width: 10px;
  height: 10px;
  background: #ff8724;
  margin-right: 10px;
  display: block;
}

.search-form{
  width: 500px;
  display: flex;
  flex-direction: column;
}

.search-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-form-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.search-form-container label{
  font-weight: bold;
  margin-bottom: 15px;
}

.search-form-container input{
  padding: 20px;
  font-size: 12pt;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1);
  transition: all .3s;
}

.search-form-container input:focus{
  transform: scale(1.05);
}

.btn-pesquisar{
  width: 200px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #ff8724;
  margin-top: 40px;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all .3s;
}

.btn-pesquisar:hover{
  width: 250px;
}

.btn-pesquisar:active{
  transform: scale(0.9);
}


//USER CARD
.user-card{
  width: 500px;
  padding: 30px;
  height: auto;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1);
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.card-info{
  margin-left: 30px;
}

.user-card-img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.card-info h3{
  margin-bottom: 30px;
}


//REPO CARD

.repo-card{
  width: 400px;
  padding: 30px;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1);
}
