<div class="user-container">
  <div class="user-wrapper">
    <h1>Usuários</h1>
    <p>Aqui você pode procurar por algum usuário específico do GitHub. Digite corretamente no campo abaixo o nome do usuário</p>
    <div class="search-container">
      <form class="search-form">
        <div class="search-form-container">
          <label for="username">Nome de usuário do GitHub:</label>
          <input [(ngModel)]="userName" type="text" name="username" class="username" placeholder="Ex: user-name, UserName..."/>
          <button class="btn-pesquisar" (click)="getUsers()">Pesquisar</button>
        </div>
      </form>
      <div class="user-card-container">
        <div class="user-card-wrapper">
          <div class="user-card">
            <div class="card-img">
              <img class="user-card-img" src="{{users.avatar_url}}" alt="{{users.login}}">
            </div>
            <div class="card-info">
              <h1>{{users.name}}</h1>
              <h3>{{users.login}}</h3>
              <p>{{users.bio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="repos-container">
      <div class="repos-wrapper">
        <div class="repo-card" *ngFor="let repo of repos">
          <h1>{{repo.name}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
