<div class="user-container">
  <div class="user-wrapper">
    <h1 class="page-title">Usuários</h1>
    <p class="page-description">Aqui você pode procurar por algum usuário específico do GitHub. Digite corretamente no campo abaixo o nome do usuário</p>
    <div class="search-container">
      <form class="search-form">
        <div class="search-form-container">
          <label for="username">Nome de usuário do GitHub:</label>
          <input [(ngModel)]="userName" type="text" name="username" class="username" placeholder="Ex: user-name, UserName..."/>
          <button class="btn-pesquisar" (click)="getUsers()">Pesquisar</button>
        </div>
      </form>
      <div class="user-card-container">
        <div class="user-card-wrapper">
          <div class="user-card">
            <div class="card-img">
              <img class="user-card-img" src="{{users.avatar_url}}" alt="{{users.login}}">
            </div>
            <div class="card-info">
              <h1 class="card-info-name">{{users.name}}</h1>
              <h3>{{users.login}}</h3>
              <p>{{users.bio}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="repos-container">
      <h1 class="repo-title">Repositórios</h1>
      <div class="button-filter">
        <button class="btn-filtrar" (click)="recentRepo()">Recente</button>
        <button class="btn-filtrar" (click)="olderRepo()">Antigo</button>
      </div>
      <div class="repos-wrapper">
        <div *ngIf="repos <= 0">
          Os repositórios aparecerão aqui
        </div>
          <div class="repo-card" *ngFor="let repo of repos">
            <h3 class="repo-name">{{repo.name}}</h3>
            <p class="repo-description">{{repo.description}}</p>
            <p class="repo-forks">Forks: {{repo.forks}}</p>
            <p class="repo-starred">Starred: {{repo.stargazers_count}}</p>
            <a class="btn-detalhes" target="_blank" href="{{repo.html_url}}">Ir para o repositório</a>
          </div>
      </div>
    </div>
  </div>
</div>
