.menu-header{
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  background: white;
}

.menu{
  max-width: 1500px;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0px;
}

.logo{
  margin-right: 50px;
  color: #ff8724;
}

.menu-itens{
  width: 200px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-itens li{
  font-weight: bold;
  cursor: pointer;
}




/*RESPONSIVO*/
@media only screen and (max-width: 375px){
  *{
    padding: 0;
  }

  .logo{
    font-size: 14pt;
  }

  .menu-itens{
    width: 100px;
    margin-top: 20px;
  }

  .menu-itens li{
    font-size: 10pt;
  }
}

@media only screen and (max-width: 586px){
  .menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu-itens{
    width: 200px;
  }
}
